<!doctype html>
<html ng-controller="baseController">
  <head>
    <title>Footer</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script data-main="./scripts/app.js" src="./bower_components/requirejs/require.js"></script>
    <style type="text/css">
      *{
        box-sizing:border-box;
      }
      body{
        margin:0 20px; font-family: Helvetica, Arial, sans-serif;
      }
      .page{
        width: 940px; margin: auto; padding: 20px 0; max-width: 100%;
      }
      textarea{
        border: 1px solid grey; padding:15px; word-wrap:break-word; margin: 0; font-style: pre; width: 100%; height: 200px; white-space: pre; outline: 0;
      }
      .inputs input{
        border 1px solid grey; margin: 0; padding: 10px; background: white; outline:none; margin-bottom: 10px;
      }
      .preview{
        border: 1px solid grey; padding:15px; word-wrap:break-word; margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <h1>Value Blended <img src="img/stopka.png"> builder v1</h1>
      <h3>Ustawienia</h3>
      <div class="inputs">
        <input type="text" ng-model="options.name" placeholder="imię i nazwisko">
        <input type="text" ng-model="options.position" placeholder="stanowisko">
        <input type="text" ng-model="options.phone" placeholder="telefon">
        <input type="text" ng-model="options.mail" placeholder="e-mail">
      </div>
      <br>
      <h3>Preview</h3>
      <div class="preview" ng-include="'scripts/mailTemplate.html?r=892712391892728718273'"></div>
      <br>
      <h3>Stopka (kliknij i skopiuj)</h3>
      <textarea readonly select-on-click ng-model="parsed"></textarea>
      <h3>Instrukcje</h3>
      <a href="http://matt.coneybeare.me/how-to-make-an-html-signature-in-apple-mail-for-mavericks-os-x-10-dot-9/">OSX Mail</a>
    </div>
  </body>
</html>
