<div style="font-family: arial, helvetica, sans-serif; color: #000000; font-size: normal; line-height: 1.4em; word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space;">
    --<br/>
    Regards,<br/>
    {{options.name}}<br/>
    {{options.position}}<br/>
    Value Blended<br/>
    192 Lexington Ave<br/>
    4th floor<br/>
    New York, NY 10016<br/>
    <img style="vertical-align: -2px;" src="http://senfino.home.pl/assets/mail_footer/phone.png"/>
    <a href="tel://{{options.phone}}">{{options.phone}}</a>
    <br/>
    <img style="vertical-align: -2px;" src="http://senfino.home.pl/assets/mail_footer/mail.png"/>
    <a href="mailto:{{options.mail}}">{{options.mail}}</a>
    <br/>
    <img style="vertical-align: -2px;" src="http://senfino.home.pl/assets/mail_footer/www.png"/>
    <a href="http://valueblended.com/">Value Blended</a>
    <br/><br/>
    <div class="legal" style="font-size: 0.8em; color: #888; line-height: 1.5em;">
        <img style="display:block; margin:auto" src="http://senfino.home.pl/projects/vb_footer/vb.png"/>
        <br/>
        The information transmitted, including attachments, is intended only for the person(s) or entity to which it is addressed and may contain confidential and/or privileged material. Any review, retransmission, dissemination or other use of, or taking of any action in reliance upon this information by persons or entities other than the intended recipient is prohibited. If you received this in error, please contact the sender and destroy any copies of this information.
    </div>
</div>
